/* Resets all padding and margins, specifies all borders = 100 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(0, 217, 255);
    font-family: Arial;
    font-size: 20px;
    padding: 50px;
}

/* Calls tag h1 */
h1 {
    font-size: 33px;
    margin-bottom: 25px;
}

h2 {
    margin-bottom: 20px;
    text-align: center;
}

p {
    margin-bottom: 20px;
}

/* Calls class first */
.first {
    color: red;
}

/* Calls Id your-name */
#your-name {
    background-color: purple;
    border: 5px solid;
    width: 400px;
    padding: 25px;
    margin-top: 30px;
}

#image {
    width: 50px;
    /* height: 300px; */
}

/* Applies to both input and button */
input, button {
    padding: 10px;
    font-size: 16px;
    text-align: center;
}

a {
    background-color: yellowgreen;
}

#your-name h2 {
    color: olivedrab;
}